<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RealTime Chess</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .chessboard {
            display: grid;
            grid-template-columns: repeat(8, minmax(0, 1fr));
            grid-template-rows: repeat(8, minmax(0, 1fr));
            width: 400px;
            height: 400px;
            transform: rotate(0deg);
        }

        .piece.white {
            color: white;
            filter: drop-shadow(0 0 2px rgba(0, 0, 0, 1));
        }

        .piece.black {
            color: black;
        }

        .flipped {
            transform: rotate(180deg);
        }

        .square {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .square.light {
            background-color: #f0d9b5;
        }

        .square.highlight {
            background-color: rgba(255, 255, 0, 0.5); /* Yellow highlight */
            border: 2px solid rgba(255, 255, 0, 1); /* Solid yellow border */
            box-shadow: 0 0 10px rgba(255, 255, 0, 0.7); /* Optional shadow for better visibility */
        }

        .square.dark {
            background-color: #b58863;
        }

        .piece {
            font-size: 36px;
            cursor: pointer;
        }

        .piece.draggable {
            cursor: grab;
        }

        .dragging {
            opacity: 0.5;
        }

        /* Rotate pieces for black player */
        .flipped .piece {
            transform: rotate(180deg);
        }

        /* Status display styles */
        #status {
            color: white;
            text-align: center;
            margin-bottom: 20px;
            font-size: 18px;
        }

        #eliminationStatus {
            color: red;
            text-align: center;
            margin-bottom: 20px;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <h1>Main Page</h1>
    <div id="status">Current Turn: White</div> <!-- Status display for current turn -->
    <div id="eliminationStatus"></div> <!-- Status display for eliminations -->
    <div class="w-full h-screen flex items-center justify-center bg-zinc-900">
        <div class="chessboard w-96 h-96 bg-red-800"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.min.js" 
    integrity="sha512-11t8Q+vY9JlCrr+PveZKTYJq8n7O09Y5X/pk/aMd3vJugSvu4xOunGEUzaADqL3I8cZKE/pBwwCfXzDkRJh2sQ==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js" 
    integrity="sha512-xRllwz2gdZciIB+AkEbeq+gVhX8VB8XsfqeFbUh+SzHlN96dEduwtTuVuc2u9EROlmW9+yhRlxjif66ORpsgVA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="/js/script.js"></script>
</body>
</html>